@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Colors Primary */
  --color-Pale-blue: hsl(225, 100%, 94%);
  --color-Bright-blue: hsl(245, 75%, 52%);

  /* Neutral colors */

  --color-Very-pale-blue: hsl(225, 100%, 98%);
  --color-Desaturated-blue: hsl(224, 23%, 55%);
  --color-Dark-blue: hsl(223, 47%, 23%);
}

body {
  max-width: 375px;
  width: 90%;
  background-color: var(--color-Pale-blue);
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

.main {
  background-color: #fff;
  font-size: 1rem;
}

/* h1 {
  text-align: center;
} */
